body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-color:white;
    background-position-x: auto;
    background-position-y: auto;
    

  }
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.container {
  position: fixed;
  text-align: center;
  top: 16%;
  height: 290px;
  width: 100%;
  display: grid;
  grid-row-gap:  120px;
  grid-template-columns: auto ;
  

}
.grid-item-container {
  padding: 5px;
  text-align: center;
  text-decoration:none;
  text-size-adjust: auto;

}
.card-back1 {
  z-index: -1;
  position: fixed;
  text-align: center;
  top: 17%;
  height: 290px;
  width: 100%;
  display: grid;
  grid-row-gap:  120px;
  grid-template-columns: auto ;
  border-bottom-color: black;
}
.grid-item-back1 {
  padding: 5px;
  text-align: center;
  text-decoration:none;
  text-size-adjust: auto;
}
.card-back2 {
  z-index: -2;
  position: fixed;
  text-align: center;
  top: 18.5%;
  height: 290px;
  width: 100%;
  display: grid;
  grid-row-gap:  120px;
  grid-template-columns: auto ;
}
.grid-item-back2 {
  padding: 5px;
  text-align: center;
  text-decoration:none;
  text-size-adjust: auto;
}
 
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 450px;
  perspective: 1000px;
  justify-content: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

  .tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  .tooltip .tooltiptext {
    text-size-adjust: auto;
    visibility: hidden;
    width: 100px;
    background-color: rgb(128, 128, 128);
    color: #fff;
    text-align: center;
    border-radius: 18px;
    padding: 5px 1;
    
    
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    right: 50%;
    margin-left: -70px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .nav-mobile .nav-wrapper {
    z-index: -1;
    position: fixed;
    top: 0;
    height: 290px;
    width: 100%;
    display: grid;
    grid-row-gap:  120px;
    grid-template-columns: 60px auto 60px 60px ;
    background: rgb(195,15,49);
    background: linear-gradient(0deg, rgba(195,15,49,1) 27%, rgba(255,0,155,1) 82%);
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    }
  
  .grid-item-nav .logo-name{
      color: white;
      font-family: sans-serif;
      font-size: 25px;
      font-weight: bolds;
      text-size-adjust: auto;
      left: 50px;
      top: 0;
      position: absolute;
     
      
      
  
    }
  .grid-item-nav {
      padding: 5px;
      text-align: center;
      text-decoration:none;
      text-size-adjust: auto;

  }

 
      
  .grid-item-nav span {
      padding: 15px;
      font-size: 25px;
      text-align: center;
      color:rgb(255, 255, 255);
      justify-content: center;
      text-size-adjust: auto;
      
  }


  .button-footer-mobile .grid-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto ;
    background-color: #ffffff;
    border-top: 2px solid rgb(204, 204, 204);
    border-bottom: 3px solid rgb(179, 179, 179);
    border-radius: 50px;
    

  }
  
  .grid-item {
    padding: 4px;
    text-align: center;
    text-decoration:none;
    text-size-adjust: inherit;
    border-radius: 100px;
    text-size-adjust: auto;
  

  }
  .grid-item:hover {
    background-color: rgb(253, 181, 235);
  }
    
  .grid-item span {
    padding: 16px;
    font-size: 25px;
    text-align: center;
    color:rgb(107, 107, 107);
    justify-content: center;
    text-size-adjust: auto;
  }

