body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-color:white;
    background-position-x: auto;
    background-position-y: auto;
    

  }
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.container {
  position: fixed;
  text-align: center;
  top: 10%;
  height: 100%;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background-color: white; */
  display: grid;
  grid-row-gap:  120px;
  grid-template-columns: auto ;
  
}
.grid-item-container {
  object-fit: cover;
  text-align: center;
  text-decoration:none;
  text-size-adjust: auto;

}
.grid-item-container img   {
  position: relative;
  width:100%;
  height:67%;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 15px;
}

.container .bodycard {
  z-index: -1;
  position:absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(228, 228, 228);
  height:59%;
  width: 96%;
  text-align: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: translate(2%, 1%);
}


.flip-card {
  background-color: transparent;
  width: 400px;
  height: 450px;
  perspective: 1000px;
  justify-content: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

  .tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  .tooltip .tooltiptext {
    text-size-adjust: auto;
    visibility: hidden;
    width: 80px;
    background-color: rgb(255, 149, 220);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 500;
    
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    right: 50%;
    margin-left: -39px;
  
   
  }

  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .nav-mobile .nav-wrapper {
    z-index: -1;
    position: fixed;
    top: 0;
    height: 290px;
    width: 100%;
    display: grid;
    grid-row-gap:  120px;
    grid-template-columns: 60px auto 40px 90px ;
    background: rgb(195,15,49);
    background: linear-gradient(0deg, rgba(195,15,49,1) 27%, rgba(255,0,155,1) 82%);
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    }
  
  .grid-item-nav .logo-name{
      color: white;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 26px;
      font-weight: 1000;
      text-size-adjust: auto;
      left: 50px;
      top: 0;
      position: absolute;
     
      
      
  
    }
  .grid-item-nav {
      padding: 6.5px;
      text-align: center;
      text-decoration:none;
      text-size-adjust: auto;

  }

 
      
  .grid-item-nav span {
      padding: 20px;
      font-size: 25px;
      text-align: center;
      color:rgb(255, 255, 255);
      justify-content: center;
      text-size-adjust: auto;
      
  }


  .button-footer-mobile .grid-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto ;
    background-color: #ffffff;
    border-top: 2px solid rgb(204, 204, 204);
    border-bottom: 3px solid rgb(179, 179, 179);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    

  }
  
  .grid-item {
    padding: 4px;
    text-align: center;
    text-decoration:none;
    text-size-adjust: inherit;
    border-radius: 100px;
    text-size-adjust: auto;
  

  }
  .grid-item:hover {
    background-color: rgb(253, 181, 235);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
    
  .grid-item span {
    padding: 16px;
    font-size: 25px;
    text-align: center;
    color:rgb(107, 107, 107);
    justify-content: center;
    text-size-adjust: auto;
  }

  .skills {
    position: fixed;
    top: 11%;
    transform: translate(12%, 10%);
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  
  .skills-bar {
    padding: 2px 20px;
  }
  
  .skills-bar .bar {
    margin: 5px 5;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #ffffff;
    font: 1em sans-serif;
    font-weight: 500;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: whitesmoke;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    background: red;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  

  .progress-line .c {
    width: 90%;
  }
  
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #07374a;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 700;
    background: #07374a;
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  
  .progress-line .c::after {
    content: "90%";
  }
  
  /* ////........Media Query........//// */
  
  @media (max-width: 800px) {
      .skills{
          width: 80%;
      }
  
      .skills-bar .bar .progress-line{
          width: 100%;
      }
  }      